body {
	margin: 0 auto;
	padding: 0;


	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 500;
	color: #333333;
	background-color: #eeeeee;
	text-transform: uppercase;
}


a {
	text-decoration: none;
}

/* index.html   */

.main_menu {
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	background-color: #ffffff;
}

.main_menu,
.main_navigation {
	list-style: none;
}

.main_menu a {
	color: #000000;
}

.main_menu a:hover {
	color: #81b3d2;
}

.main_menu a:active {
	color: #d2d2d2;
}

.right_element {
	text-align: right;
}

.sedona_definition {
	text-align: center;
	background-color: #ffffff;
	width: 1200px;
}

.definition {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
	padding-top: 65px;
	padding-left: 379px;
	padding-right: 379px;
	margin-top: 0;
	margin-bottom: 41px;
}

.reasons {
	line-height: 26px;
	padding-bottom: 55px;
	margin: 0;
}

.sedona_about {
	color: #ffffff;
	background-color: #81b3d2;
}

.benefits_list {
	list-style: none;
	background-color: #ffffff;
}

.spec_back {
	background-color: #eeeeee;
}

.about_element {
	text-align: center;
}

.house_icon_header,
.food_icon_header,
.souvenir_icon_header,
.small_square_header,
.good_road_header,
.tourists_header {
	font-size: 21px;
	font-weight: bold;
	color: #000000;
}

.house_icon_header {
	padding-top: 165px;
	padding-left: 165px;
	padding-right: 165px;
	margin-top: 0;
	margin-bottom: 31px;
}

.house_icon_about {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 73px;
	padding-right: 74px;
	padding-bottom: 60px;
}

.food_icon_header {
	padding-top: 165px;
	padding-left: 181px;
	padding-right: 178px;
	margin-bottom: 31px;
	margin-top: 0;
}

.food_icon_about {
	text-align: center;
	padding-left: 52px;
	padding-right: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 60px;
}

.souvenir_icon_header {
	padding-top: 165px;
	padding-left: 149px;
	padding-right: 148px;
	margin-top: 0px;
	margin-bottom: 31px;
}

.souvenir_icon_about {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 64px;
	padding-right: 61px;
	text-align: center;
	padding-bottom: 60px;
}

.small_square_number,
.good_road_number,
.tourists_number {
	margin-top: 0;
	padding-left: 171px;
	padding-right: 171px;
	margin-bottom: 30px;
}

.small_square_header,
.good_road_header,
.tourists_header {
	margin-top: 0;
	margin-bottom: 28px;
	padding-top: 49px;
	text-align: center;
}

.small_square_header {
	padding-left: 140px;
	padding-right: 140px;

}

.good_road_header {
	padding-left: 148px;
	padding-right: 148px;
}

.tourists_header {
	padding-left: 149px;
	padding-right: 149px;
}

.small_square_about,
.good_road_about,
.tourists_about {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0px;
}

.small_square_about {
	padding-left: 93px;
	padding-right: 95px;
}

.good_road_about {
	padding-left: 66px;
	padding-right: 66px;
}

.tourists_about {
	padding-left: 69px;
	padding-right: 67px;
}

.reservation {
	text-align: center;
	background-color: #ffffff;
}

.interest {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
	color: #000000;
	margin-top: 0;
	margin-bottom: 35px;
	padding-top: 57px;
	padding-left: 451px;
	padding-right: 449px;
}

.reservation_text_wrapper {
	width: 444px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 53px;
}

.reservation_text1,
.reservation_text2 {
	margin: 0;
}

.reservation_text1 {
	margin-bottom: 10px;
}

.hotel_button {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;
	border-width: 0px;
	background-color: #766357;
	box-sizing: border-box;
	width: 574px;
	height: 86px;
}

.hotel_button:hover {
	background-color: #604e43;
}

.hotel_button:active {
	color: #928a85;
	background-color: #503e33;
}

.reservation_buttons {
	font: inherit;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.search {}

.res_button {
	font: inherit;
	font-weight: bold;
	line-height: 26px;
	background-color: #eeeeee;
	width: 350px;
	height: 40px;
	border-width: 0px;
}

.res_button:hover {
	background-color: #ebebeb;
}

.res_button:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5 ;
}

.button_minus,
.number_button,
.button_plus {
	font: inherit;
	line-height: 26px;
	font-weight: bold;
	border-width: 0px;
	width: 40px;
	height: 40px;
	background-color: #f2f2f2;
}

.button_minus,
.button_plus {
	color: #a9a9a9;
	text-transform: uppercase;
	padding-left: 0px;
	padding-right: 0px;
}

.button_minus:hover,
.button_plus:hover {
	color: #000000;
}

.button_minus:active,
.button_plus:active {
	color: #81b3d2;
}

.search_button {
	font: inherit;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	border-width: 0px;
	color: #ffffff;
	background-color: #81b3d2;
	box-sizing: border-box;
	width: 453px;
	height: 59px;
}

.search_button:hover {
	background-color: #669ec0; 
}

.search_button:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.socials {
	background-color: #ffffff;
}

.footer_text a,
.footer_hashtag a,
.social_network a {
	color: #000000;
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	line-height: 26px;

}

.footer_hashtag a {
	font-size: 21px;
	font-weight: bold;
}

.social_network {
	list-style: none;
	padding: 0px;
}

.footer_element {
	width: 33%;
}

.footer_text a {
	font-weight: 400;
}

/* inner.html */

.hotel_options {
	width: 1200px;
	background-image: url(../img/filter_background.png);
	background-repeat: no-repeat;
	display: flex;
}

.infrastructure_options,
.housetype_options {
	border: 0px;
	width: 300px;
	padding: 0px;
	margin: 0px;
}

.infrastructure_header,
.housetype_header {
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	padding-top: 31px;
}

.infrastructure_header{
	padding-left: 73px;
	padding-right: 101px;
	margin-bottom: 33px;
}

.infrastructure_checkbox {
	margin-left: 73px;
	margin-bottom: 23px;
	margin-right: 12px;
	margin-top: 0;
}

.housetype_header {
	margin-left: 13px;
	margin-bottom: 33px;
}

.housetype_checkbox {
	margin-left: 13px;
	margin-top: 0;
	margin-right: 15px;
	margin-bottom: 23px;
}

.sorting_conditions {
	color: #ffffff;
}

.cost {
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	margin-left: 214px;
	margin-top: 31px;
	margin-bottom: 15px;
}

.budget_table {
	margin-right: 72px;
	margin-left: auto;
	border: 2px solid #ffffff;
	margin-bottom: 52px;
}

.budget {
	color: #ffffff;
	font-weight: 400;
}

.table_left,
.table_right {
	padding-top: 10px;
	padding-bottom: 10px;
}

.table_left {
	padding-left: 63px;
	padding-right: 62px;
}

.table_right {
	padding-left: 51px;
	padding-right: 50px;
}

.button_show {
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	border: 2px solid #ffffff;
	background-color: transparent;
	padding-top: 10px;
	padding-left: 35px;
	padding-right: 33px;
	padding-bottom: 10px;
	margin-bottom: 33px;
	margin-left: 300px;
}

.button_show:hover {
	color: #000000;
	background-color: #ffffff;
}

.search_result {
	font-weight: bold;
	font-size: 21px;
	line-height: 26px;
	min-width: 120px;
	margin-right: 10px;
}

.sorting {
	font-size: 12px;
	line-height: 18px;
	margin-right: 35px;
}

.sorting_options {
	list-style: none;
}

.sorting_options a {
	font-size: 12px;
	line-height: 18px;
	color: #cacaca;
	border-bottom: 1px dotted #cacaca;
}

.sorting_options a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sorting_options a:focus {
	color: #000000;
	border-bottom: 1px dotted #000000;
}

.hotels {
	background-color: #fefefe;
	box-sizing: border-box;
	display: flex;
}

.raiting_wrapper {
	margin-right: 72px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.hotel_info {
	box-sizing: border-box;
	width: 600px;
	padding-left: 72px;
}

.hotel_info a {
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 21px;
	line-height: 26px;
}

.hotel_info a:hover {
	color: #81b3d2;
}

.hotel_info a:active {
	color: #cacaca;
}

.button_more {
	font: inherit;
	text-transform: uppercase;
	color: #ffffff;
	background-color: #81b3d2;
	border-width: 0px;
	font-weight: bold;
	box-sizing: border-box;
	width: 110px;
	height: 27px;
}

.button_more:hover {
	background-color: #669ec0;
}

.button_more:active {
	color: #94b9d2;
	background-color: #5496bd;
}

.reservation_button {
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;
	border-width: 0px;
	color: #ffffff;
	background-color: #766357;
	box-sizing: border-box;
	width: 142px;
	height: 27px;
}

.reservation_button:hover {
	color: #ffffff;
	background-color: #604e43;
}

.reservation_button:active {
	color: #928a85;
	background-color: #503e33;
}

.raiting {
	color: #666666;
	background-color: #f2f2f2;
}


/* Сеточные элементы главной страницы */

.menu_element {
	width: 240px;
}


.header_elements {
	box-sizing: border-box;
	min-width: 1200px;
}


.main_navigation {
	box-sizing: border-box;
	min-width: 1200px;
	padding-left: 72px;
	padding-right: 72px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 21px;
	padding-bottom: 23px;


	display: flex;
	justify-content: space-around;
}

.sedona_about {
	box-sizing: border-box;

	display: flex;
}


.benefits_size {
	box-sizing: border-box;
	background-color: #ffffff;
}

.benefits2_size {
	box-sizing: border-box;
	height: 258px;
}


.about_element {
	width: 400px;
}


.benefits_list {
	margin: 0px;
	padding-left: 0px;

	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.reservation {
	box-sizing: content-box;
}

.popup_margin {
	margin-right: 314px;
	margin-left: 314px;
}

.date_popup {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.socials {
	box-sizing: border-box;
	height: 121px;

	display: flex;
	justify-content: space-between;
}


/*  Сеточные элементы внутренней страницы    */ 


.sedona_options_wrapper {
	box-sizing: border-box;
	width: 600px;
	display: flex;
}

.budget_wrapper {
	width: 600px;
}

.searching_wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hotels_wrapper {
	margin-left: 72px;
	display: flex;
	align-items: baseline;
}

.u_d_button {
	margin-right: 72px;
	display: inline-block;
}

.sorting_options {
	padding-left: 0px;
	width: 236px;
	display: flex;
	justify-content: space-between;
}

.display_img {
	padding-right: 30px;
	padding-top: 4px;
	float: left;
}

.hotel_info_wrapper {
	width: 260px;
	display: flex;
	flex-wrap: wrap;
}

.header_display {
	padding-bottom: 10px;
}


.text_marg_null {
	margin: 0;
}

.text_pos {
	width: 114px;
	display: flex;
	justify-content: flex-start;
}

.price_pos {
	width: 142px;
	display: flex;
	justify-content: flex-start;
}

.hotels_display {
	display: flex;
	flex-flow: row wrap;
}

.hotel_display_wrapper {
	margin-top: 10px;
	display: inline-block;
}

.total_hotel_wrapper {
	width: 1200px;
	padding-top: 35px;
	padding-bottom: 31px;
	display: flex;
	justify-content: space-between;
}

.raiting {
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 14px;
	padding-top: 5px;
	padding-bottom: 7px;
	margin: 0;
}

.footer_element {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* test */

.container {
	margin: 0 auto;
	width: 1200px;
}

.main_background_img {
	width: 1200px;
	background-image: url(../img/index_background.jpg);
	background-repeat: no-repeat;	
}

.img_header {
	padding-top: 44px;
	padding-left: 140px;
	padding-right: 138px;
	text-align: center;
	margin-bottom: 27px;
	margin-top: 0px;
}

.about_content_number {
	padding-left: 175px;
	padding-right: 172px;
	margin-bottom: 30px;
}

.img_text {
	padding-bottom: 65px;
	padding-left: 60px;
	padding-right: 59px;
	margin-bottom: 0px;
	text-align: center;
}

.devil_bridge_text {
	padding-left: 48px;
	padding-right: 49px;
	text-align: center;
	margin-bottom: 0px;
}

.devil_bridge_header {
	font-weight: bold;
	font-size: 21px;
	padding-top: 48px;
	padding-left: 125px;
	padding-right: 124px;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 26px;
}

.map {
	width: 1200px;
}

.counters_wrapper {
	display: flex;
	justify-content: flex-end;

}

.right_element {
	text-align: right;
}

.main_page_img {
	margin: 0;
}